.Pokecard {
  /* border: 2px solid rgb(121, 204, 176); */
  width: 250px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgb(0, 0, 0, 0.56);
  text-align: center;
  background-color: #ebd746;
  border-radius: 3px;
}

.Pokecard-data {
  font-size: 80%;
}

.Pokecard-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.Pokecard-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #b8d7e0;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.Pokecard img {
  transition: all ease 450ms;
}

.Pokecard img:hover {
  transform: scale(1.25);
  opacity: 0.8;
}
